<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="SGXEnabled" content="true">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <style>
        body{
            background-image: url("{{ url_for('static', filename='imgs/1.jpg') }}");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>
</head>

<body>
    <h1>Login Page</h1>
    <hr>
    <form method="POST" action="/login">
	    <input type="text" name="username" class="form-control" placeholder="Username"> <br>
	    <input type="password" name="password" class="form-control" placeholder="Password"> <br>
        <p>Not Registered? <a href="/register"> Click Here</a></p>
        <button type="submit">Login</button>
    </form>
</body>

</html>
